<div class="form-group componentsFilter" [class.has-success]="hasSuccess()" [class.has-error]="hasError()">
    <label class="control-label" for="inputSuccess">
        <i *ngIf="required" class="mdi mdi-music-accidental-sharp"></i> {{label}}
    </label>
    <span class="help-block">
        <i *ngIf="hasSuccess()" class="mdi mdi-check text-success"></i>
        <i *ngIf="hasError()" class="mdi mdi-alert-circle text-warning"></i>
    </span>
    <div class="select-filter">
        <ng-content></ng-content>
    </div>
</div>